<form action="/search" method="POST">
  <div class="bor8 dis-flex p-l-15">
    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
      <i class="zmdi zmdi-search"></i>
    </button>

    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="searchQuery" placeholder="Search">
  </div>
</form>

<script>
  const user = req.session.user;
    const page = req.query.page || 1; // Get the current page from the query parameters
    const limit = 8; // Number of products per page
    const searchQuery = req.body.searchQuery; // Get the search query from the request body
  
    try {
      const count = await productSchema.countDocuments({
        // Count total number of products that match the search query
        $text: { $search: searchQuery }
      });
  
      const totalPages = Math.ceil(count / limit); // Calculate the total number of pages
  
      const skip = (page - 1) * limit; // Calculate the number of products to skip
  
      const product = await productSchema
        .find({ $text: { $search: searchQuery } }) // Fetch products that match the search query
        .skip(skip)
        .limit(limit);
  
      res.render("user/shop", { product, user, totalPages, currentPage: page });
    } catch (error) {
      console.error(error);
      res.status(500).send("Internal Server Error");
    }

</script>