<!doctype html>
<html lang="en">

<head>
	<title>Login 07</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="user_login_assets/css/style.css">

</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-4" >
					<h2 class="heading-section" >YOUR ACCOUNT FOR EVERYTHING<br> Login Now</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last" style="background: #2d4d28;">
							<div class="text w-100">
								<h2>Welcome to login</h2>
								<p>Don't have an account?</p>
								<a href="/signup" class="btn btn-white btn-outline-white">Sign Up</a>
							</div>
						</div>
						<div class="login-wrap p-4 p-lg-5">
							<!-- <div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Sign In</h3>
								</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#"
											class="social-icon d-flex align-items-center justify-content-center"><span
												class="fa fa-facebook"></span></a>
										<a href="#"
											class="social-icon d-flex align-items-center justify-content-center"><span
												class="fa fa-twitter"></span></a>
									</p>
								</div>
							</div> -->
							<form action="/login" method="post" class="signin-form">
								<div class="form-group mb-3">
									<label class="label" for="name">Email</label>
									<input type="text" name="email" class="form-control" placeholder="Username" required>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="password">Password</label>
									<input type="password" name="password" class="form-control" placeholder="Password" required>
								</div>
								<% if(locals.message){%>
									<div id="msg" class="alert alert-danger text-center">
									   <%= message %>
									</div>
								<% } %>
								<div class="form-group">
									<button type="submit" class="form-control submit px-3 text-white" style="background-color: #2d4d28;">Sign
										In</button>
								</div>
								<div class="form-group d-md-flex" >
									<div class="w-50 text-left">
										<label class="checkbox-wrap mb-0" style="color: black;">Remember Me
											<input type="checkbox" checked >
											<span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Forgot Password</a>
									</div>
								</div>
									<a href="/otp_login" class=" text-dark" style="border-bottom: 2px solid #000">LOGIN WITH OTP</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="user_login_assets/js/jquery.min.js"></script>
	<script src="user_login_assets/js/popper.js"></script>
	<script src="user_login_assets/js/bootstrap.min.js"></script>
	<script src="user_login_assets/js/main.js"></script>
	<script>
		setTimeout(()=>{
			document.getElementById("msg").style.display='none'
		},2000)
	</script>

</body>

</html>