<%- include('partials/_header') %>
<%- include('partials/_navbar') %>

<!-- Product -->
<div class="bg0 m-t-75 p-b-140">
  <div class="container">
    <div class="flex-w flex-sb-m p-b-52">

      
      <!-- Search product -->
      <div class="dis-none panel-search w-full p-t-10 p-b-15">
        <div class="bor8 dis-flex p-l-15">
          <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
            <i class="zmdi zmdi-search"></i>
          </button>

          <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
        </div>	
      </div>


    </div>

    <!-- ============ Main ============ -->

    <section class="page-wrapper success-msg">
      <div class="container">
        <div class="row">
        <div class="text-center">
          <div class="block text-center">
            <i class="tf-ion-android-checkmark-circle"></i>
          <h2 class="text-center ps-4">Order Successfully Placed </h2>
          <p>Thank you for your purchase! Your order has been successfully placed and is being processed.</p>
          <p>For any questions or concerns regarding your order, please don't hesitate to contact our customer support team.</p>
          <a href="/shop" class="btn btn-main mt-20">Continue Shopping</a>
          <div class="mt-3">
            <a href="/orderDetails" class="btn">View Order</a>

          </div>
          
          </div>
        </div>
        </div>
      </div>
    </section>
    

    <!-- ============ Main ============ -->


      </div>
             
    <!-- Load more -->
    <!-- <div class="flex-c-m flex-w w-full p-t-45">
      <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
        Load More
      </a>
    </div> -->
  
</div>


    
           
  <!-- Load more -->
  <!-- <div class="flex-c-m flex-w w-full p-t-45">
    <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
      Load More
    </a>
  </div> -->



<style>
  .page-wrapper {
  background-color: #f5f5f5;
  padding: 20px;
  }

  .success-msg {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #1abc9c; /* Add a solid border with 2px width and color */
    font-family:  'Arial', sans-serif;
    }

  .block {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  .text-center {
    text-align: center;
    width: 100%; /* Set the width to 100% */
  }
  .tf-ion-android-checkmark-circle {
    font-size: 60px;
    color: #1abc9c;
  }

  h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  }

  p {
  font-size: 16px;
  color: #888;
  }

  .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none; /* Remove the default button border */
  font-size: 16px;
  cursor: pointer;
  }

  .btn:hover {
  background-color: #16a085;
  }

  .btn:focus {
  outline: none; /* Remove the default focus outline */
  }

  .btn:active {
  background-color: #117a60; /* Adjust the background color when button is pressed */
  transform: translateY(1px); /* Add a slight vertical shift when button is pressed */
  box-shadow: none; /* Remove box-shadow when button is pressed */
  }
</style>

<%- include('partials/_footerbar') %>
<%- include('partials/_footer') %>